.validationMessage {
    color: #c20907;
    margin-left: 10px;
}

.formBox {
    width: 48%;
    margin: 0 10px;
    background-color: #fff;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
    display: inline-block;
}

.prettyprint {
    margin-top: 40px;
    font-size: 10px;
}